.img-card {
  transition: 0.5s all ease;
}

.img-card-footer {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.7s all ease;
}

.img-card:hover .img-card-footer {
  bottom: 0;
  opacity: 1;
}

.img-card:hover {
  transform: scale(1.05);
}

.comment-form {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

@media (max-width: 479px) {
  .modal-img {
    height: 300px;
  }

  .modal-box {
    max-height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
  }

  .comments-box {
    max-height: calc(100vh - 360px);
  }
}
